
/* -------------------------------------------------------------- */



/* ------------BODY----------- */

/* ------------FOOTER ALWAYS DOWN----------- */

/* .wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
} */
/* -----------------------------END------------------------------- */



/* -----------------HEADER----------------- */


/* ----------------------------MAIN----------------------------- */



/* -----------------------------SECTION ONE--------------------------- */








/* -----------------------------SECTION TWO--------------------------- */




/* -----------------------------SECTION THREE--------------------------- */



/* -----------------FOOTER----------------- */


/* .footet-list:focus{
    color: var(--blue);
} */


/* -----------------------------PORTFOLIO--------------------------- */
/* -----------------------------BUTTONS--------------------------- */




/* -----------------------------SECTIONS PORTFOLIO--------------------------- */




/* ----------------SVG------------- */








/* --------------------OVERLAY------------------------ */


/* ------------------------------------------------ */

/* ----------------------------MODAL-------------------------- */






/* -------------FORM FOOTER------------- */


/* ---------------------FORM MODAL--------------------   */





.modal-check {

}
.invisibility {
}





/* -------------------------------------------------- */


/* .inp-form-modal:required{
    background-color: red;
} */