.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.173;
    color: var(--black);
    margin-right: 93px;
}
.logo__color {
    color: var(--blue);
}
// --------------------------------------------------------
// ----------------------FOOTER LOGO-----------------------
.footer-logo {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.173;
    color: #fff;
    margin-bottom: 20px;
}
// --------------------------------------------------------