*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*{
    box-sizing: border-box;
}

a{text-decoration: none;}
li{list-style: none;}
button{border: none; cursor: pointer;}
button:hover{background-color: var(--blue); color: #ffffff;}
img{
    display: block;
}