:root{
    --blue:#2196F3;
    --black:#212121;
    --grey:#757575;
    --greyBg:#F5F4FA;
    --blackBg:#2F303A;
    --bgSection:#F5F5F5;
    --time:250ms;
    --time-func:cubic-bezier(0.4, 0, 0.2, 1);
}