.info-row__list__item{
    width: 270px;
}
.img__section{
    padding-top:0;
}
// -------------------------------------------
.for-margin{
    margin-bottom: 30px;
}
.info-row__elem{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.icon-container {
    margin-bottom: 30px;
}