.header {
}
.container {
    width: 100%;
    padding: 0 15px;
}
.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation {
    display: none;
}
.header__navigation {
}
.logo {
}
.logo__color {
}
.menu {
}
.menu__item {
}
.menu__link {
}
.active {
}
.contacts {
}
.contacts__container {
}
.contacts__item {
}
.contacts__link {
}
.contacts__icon {
}